@use "./variables";
@use "./mixins.scss";

html,
body {
  overflow-x: hidden;
}

.nav {
  display: block;

  @include mixins.phone {
    display: none;
  }

  &__container {
    @include mixins.flex;

    @include mixins.tablet {
      padding: 2rem 3rem;
    }

    @include mixins.tablet-landscape {
      padding: 2rem 4rem;
    }
    @include mixins.laptop {
      padding: 2rem 5rem;
    }

    @include mixins.monitor {
      padding: 2rem 8rem;
    }
  }

  &__logo {
    @include mixins.nav-style;
    margin-top: 0.3rem;
    font-weight: 800;
    font-size: 19px;
  }

  &__menu {
    @include mixins.flex;
    gap: 2.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;

    @include mixins.tablet {
      gap: 1rem;
    }

    @include mixins.tablet-landscape {
      gap: 1rem;
    }
  }

  &__menu-link {
    @include mixins.nav-style;
  }

  &__contact {
    @include mixins.nav-style;
    margin-left: 2.5rem;

    @include mixins.tablet {
      margin-right: -0.5rem;
    }
  }
}

.button {
  padding: 0.6rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.3rem;
}

.button--outline {
  border: 1px solid black;
}

.intro {
  &__container {
    margin-top: 80px;
    @include mixins.grid;
    grid-template-columns: 1.5fr 0.8fr;
    align-items: center;

    @include mixins.phone {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    padding-left: 6.2rem;
    font-size: 18px;

    @include mixins.tablet {
      padding-left: 4rem;
    }

    @include mixins.tablet-landscape {
      padding-left: 5rem;
    }

    &--introduction {
      font-size: 25px;
      margin-top: 15px;
      @include mixins.phone {
        margin-left: 0px;
      }

      @include mixins.tablet {
        font-size: 20px;
      }
    }

    &--heading {
      margin-top: 1.5rem;
      @include mixins.phone {
        font-size: 70px;
        margin: 55px 140px 20px 0px;
        font-weight: 700;
      }
    }
  }

  &__image {
    margin-right: 115px;
    width: 280px;
    @include mixins.phone {
      display: none;
    }

    @include mixins.tablet {
      width: 200px;
      margin-right: 0;
    }
    @include mixins.tablet-landscape {
      width: 240px;
      margin-right: 0;
    }
  }
}

.about {
  width: 100%;
  overflow-x: hidden;

  &__container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: grid;
    align-items: start;
    padding: 5rem 4rem 2rem;
    grid-template-columns: minmax(0, 360px) minmax(0, 1fr);
    grid-template-areas:
      "image heading"
      "image text";
    gap: 1rem clamp(5rem, 6vw, 0rem);
  }

  @include mixins.phone {
    &__container {
      padding: 1.5rem 1rem 1.25rem;

      grid-template-columns: 1fr;
      grid-template-areas:
        "heading"
        "image"
        "text";

      justify-items: center;
      text-align: left;

      row-gap: 0.75rem;
      gap: 0.75rem;
    }
  }

  @include mixins.tablet {
    &__container {
      padding: 2.5rem 1.5rem 2rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "heading"
        "image"
        "text";
      justify-items: center;
      text-align: left;

      row-gap: 1rem;
      column-gap: 0;
    }
  }

  @include mixins.tablet-landscape {
    &__container {
      padding: 3.5rem 3rem 2rem;
      grid-template-columns: minmax(0, 320px) minmax(0, 1fr);
      gap: 1rem 5rem;
    }
  }

  &__heading {
    grid-area: heading;
    font-size: 30px;
    font-weight: 700;
    align-self: end;
    margin-top: 10px;
    margin-bottom: 0px;

    @include mixins.phone {
      font-size: 24px;
    }
  }
  @include mixins.tablet {
    align-items: center;
  }

  &__image-wrapper {
    grid-area: image;
    width: 100%;
    max-width: 360px;
    align-self: start;

    @include mixins.tablet {
      max-width: 300px;
    }

    @include mixins.tablet-landscape {
      max-width: 320px;
      align-self: end;
      margin-bottom: 0rem;
    }
  }

  &__image {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 2px;
    height: 350px;

    @include mixins.tablet {
      height: 320px;
    }
  }

  &__text {
    grid-area: text;
    width: 100%;
    max-width: 650px;
    min-width: 0;
  }
  @include mixins.tablet {
    justify-self: center;
    max-width: 650px;
  }

  &__para {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 0rem;

    @include mixins.phone {
      line-height: 1.6;
      margin-bottom: 0.9rem;
      font-size: 0.95rem;
    }
  }
}

.skills {
  padding: 1rem 0 4rem;
  text-align: center;

  &__description {
    margin: 0 auto 2rem;
    max-width: 65ch;
    font-size: 0.9rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 850px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;

    @include mixins.tablet {
      grid-template-columns: repeat(5, 1fr);
    }

    @include mixins.tablet-landscape {
      grid-template-columns: repeat(7, 1fr);
      gap: 1.5rem;
    }

    @include mixins.laptop {
      grid-template-columns: repeat(9, 1fr);
      gap: 1.5rem;
    }

    @include mixins.monitor {
      grid-template-columns: repeat(9, 1fr);
      gap: 1.5rem;
    }
  }

  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    width: 34px;
    height: 34px;
    display: block;
  }

  &__label {
    font-size: 0.8rem;
  }
}

/* =========================
   Projects
========================= */
.projects {
  padding: 2rem 0 4rem;

  &__list {
    display: grid;
    gap: 2rem;

    @include mixins.laptop {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }

    @include mixins.monitor {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }
  }
}

.project-card {
  padding: 1rem;

  &__image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    margin-bottom: 1rem;
  }

  &__tech {
    font-size: 0.7rem;
    letter-spacing: 0.06em;
    margin: 0.5rem 0;
  }

  &__title {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
  }

  &__summary {
    color: #666; /* replace $muted */
    margin: 0 0 1rem;
    font-size: 0.9rem;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    flex-wrap: wrap;
  }
}

.footer {
  background: black;
  color: #fff;
  padding: 2rem 4rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  &__socials {
    order: 1;

    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__email {
    order: 2;
    margin: 0;
    font-size: 0.9rem;
  }

  &__social-item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease;
  }

  &__icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    display: block;
  }

  @include mixins.tablet-up {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    &__email {
      order: 1;
      font-size: inherit;
    }

    &__socials {
      order: 2;
    }
  }
}
