html,
body {
  overflow-x: hidden;
}

.nav {
  display: block;
}
@media only screen and (max-width: 575px) {
  .nav {
    display: none;
  }
}
.nav__container {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .nav__container {
    padding: 2rem 3rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .nav__container {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .nav__container {
    padding: 2rem 5rem;
  }
}
@media only screen and (min-width: 1201px) {
  .nav__container {
    padding: 2rem 8rem;
  }
}
.nav__logo {
  text-decoration: none;
  color: black;
  margin-top: 0.3rem;
  font-weight: 800;
  font-size: 19px;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .nav__menu {
    gap: 1rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .nav__menu {
    gap: 1rem;
  }
}
.nav__menu-link {
  text-decoration: none;
  color: black;
}
.nav__contact {
  text-decoration: none;
  color: black;
  margin-left: 2.5rem;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .nav__contact {
    margin-right: -0.5rem;
  }
}

.button {
  padding: 0.6rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.3rem;
}

.button--outline {
  border: 1px solid black;
}

.intro__container {
  margin-top: 80px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.5fr 0.8fr;
  align-items: center;
}
@media only screen and (max-width: 575px) {
  .intro__container {
    grid-template-columns: 1fr;
  }
}
.intro__text {
  padding-left: 6.2rem;
  font-size: 18px;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .intro__text {
    padding-left: 4rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .intro__text {
    padding-left: 5rem;
  }
}
.intro__text--introduction {
  font-size: 25px;
  margin-top: 15px;
}
@media only screen and (max-width: 575px) {
  .intro__text--introduction {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .intro__text--introduction {
    font-size: 20px;
  }
}
.intro__text--heading {
  margin-top: 1.5rem;
}
@media only screen and (max-width: 575px) {
  .intro__text--heading {
    font-size: 70px;
    margin: 55px 140px 20px 0px;
    font-weight: 700;
  }
}
.intro__image {
  margin-right: 115px;
  width: 280px;
}
@media only screen and (max-width: 575px) {
  .intro__image {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .intro__image {
    width: 200px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .intro__image {
    width: 240px;
    margin-right: 0;
  }
}

.about {
  width: 100%;
  overflow-x: hidden;
}
.about__container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  align-items: start;
  padding: 5rem 4rem 2rem;
  grid-template-columns: minmax(0, 360px) minmax(0, 1fr);
  grid-template-areas: "image heading" "image text";
  gap: 1rem clamp(5rem, 6vw, 0rem);
}
@media only screen and (max-width: 575px) {
  .about__container {
    padding: 1.5rem 1rem 1.25rem;
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "image" "text";
    justify-items: center;
    text-align: left;
    row-gap: 0.75rem;
    gap: 0.75rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .about__container {
    padding: 2.5rem 1.5rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "image" "text";
    justify-items: center;
    text-align: left;
    row-gap: 1rem;
    column-gap: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about__container {
    padding: 3.5rem 3rem 2rem;
    grid-template-columns: minmax(0, 320px) minmax(0, 1fr);
    gap: 1rem 5rem;
  }
}
.about__heading {
  grid-area: heading;
  font-size: 30px;
  font-weight: 700;
  align-self: end;
  margin-top: 10px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 575px) {
  .about__heading {
    font-size: 24px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .about {
    align-items: center;
  }
}
.about__image-wrapper {
  grid-area: image;
  width: 100%;
  max-width: 360px;
  align-self: start;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .about__image-wrapper {
    max-width: 300px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about__image-wrapper {
    max-width: 320px;
    align-self: end;
    margin-bottom: 0rem;
  }
}
.about__image {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 2px;
  height: 350px;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .about__image {
    height: 320px;
  }
}
.about__text {
  grid-area: text;
  width: 100%;
  max-width: 650px;
  min-width: 0;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .about {
    justify-self: center;
    max-width: 650px;
  }
}
.about__para {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 0rem;
}
@media only screen and (max-width: 575px) {
  .about__para {
    line-height: 1.6;
    margin-bottom: 0.9rem;
    font-size: 0.95rem;
  }
}

.skills {
  padding: 1rem 0 4rem;
  text-align: center;
}
.skills__description {
  margin: 0 auto 2rem;
  max-width: 65ch;
  font-size: 0.9rem;
}
.skills__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .skills__list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .skills__list {
    grid-template-columns: repeat(7, 1fr);
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .skills__list {
    grid-template-columns: repeat(9, 1fr);
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 1201px) {
  .skills__list {
    grid-template-columns: repeat(9, 1fr);
    gap: 1.5rem;
  }
}
.skills__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.skills__icon {
  width: 34px;
  height: 34px;
  display: block;
}
.skills__label {
  font-size: 0.8rem;
}

/* =========================
   Projects
========================= */
.projects {
  padding: 2rem 0 4rem;
}
.projects__list {
  display: grid;
  gap: 2rem;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}
@media only screen and (min-width: 1201px) {
  .projects__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

.project-card {
  padding: 1rem;
}
.project-card__image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}
.project-card__tech {
  font-size: 0.7rem;
  letter-spacing: 0.06em;
  margin: 0.5rem 0;
}
.project-card__title {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
}
.project-card__summary {
  color: #666; /* replace $muted */
  margin: 0 0 1rem;
  font-size: 0.9rem;
}
.project-card__links {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.footer {
  background: black;
  color: #fff;
  padding: 2rem 4rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.footer__socials {
  order: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.footer__email {
  order: 2;
  margin: 0;
  font-size: 0.9rem;
}
.footer__social-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}
.footer__icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: block;
}
@media only screen and (min-width: 576px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .footer__email {
    order: 1;
    font-size: inherit;
  }
  .footer__socials {
    order: 2;
  }
}
